{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}
        <div class="row">
        {% for project in projects_list %}

                    <div class="col-lg-4">
                        <div class="card-box project-box">


                            <div class="label label-success" style="background-color: #aeaeae;">     
                                 已归档
                            </div>

                            <h4 class="m-t-0 m-b-5" style="border:0px solid grey;">
                                {% if project.template.name == 'effects' %}
                                    <a href="/{{ project.project_id }}/effects/kanban/" class="text-inverse">{{ project.project_name }}</a>
                                {% elif project.template.name == 'HR' %}
                                    <a href="/{{ project.project_id }}/HR/kanban/" class="text-inverse">{{ project.project_name }}</a>
                                {% else %}
                                    <a href="/{{ project.project_id }}/" class="text-inverse">{{ project.project_name }}</a>
                                {% endif %}
                            </h4>

                            <p class="text-success text-uppercase m-b-20 font-13">{{ project.project_summary }}</p>
                            <p class="text-muted font-13" style="border:0px blue solid;height: 20px;max-width:92%;overflow: hidden;text-overflow:ellipsis;
                                                                 white-space:nowrap;">
                              <small>{{ project.project_description }}</small>
                            </p>
                            <ul class="list-inline">
                                <li>
                                    <span   style="font-size: 15px;font-weight: bolder;">项目类型 :</span>
                                    <span style="font-size: 15px;font-weight: bolder;color: mediumpurple;">{{ project.project_type }}</span>
                                </li>
                                <li>
                                    <span   style="font-size: 15px;font-weight: bolder;">项目主管 :</span>
                                    <span style="font-size: 15px;font-weight: bolder;color: mediumpurple;">{{ project.project_creator }}</span>
                                </li>
                            </ul>
                            <div class="project-members m-b-20">
                                <span class="m-r-5 font-600">团队 :</span>
                                {%for group in project.project_groups%}
                                    {{group.name}}
                                {%endfor%}
                                <!--
                                {%ifequal project.is_archive False%}
                                 <a href="/{{ project.project_id  }}/application/" style="float: right;">申请加入</a>
                                {%endifequal%}
                                -->
                            </div>

                            <p class="font-600 m-b-5">进度 <span class="text-success pull-right">{{ project.percent }}%</span></p>
                            <div class="progress progress-bar-success-alt progress-sm m-b-5">
                                <div class="progress-bar progress-bar-success progress-animated wow animated animated"
                                     role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                     style="width: {{ project.percent }}%; visibility: visible; animation-name: animationProgress;">
                                </div><!-- /.progress-bar .progress-bar-danger -->
                            </div><!-- /.progress .no-rounded -->
                          
                           <div style="height: 35px;">
                                <form style="margin-top:10px;text-align: right;" method="post" action="">
                                 <input type="text" name="project_id" value="{{ project.project_id }}" hidden>
                                 <input type="text" name="delete" value="archive" hidden>
                                {% if project.project_archive %}
                                    <input type="submit"  value="项目归档" class="btn-danger" hidden="">
                                {% endif %}
                                </form>

                            </div>
                          
                        </div>
                    </div><!-- end col-->


        {% endfor %}

        </div>
                <!-- end row -->



{% endblock %}
{% block material %}
{% endblock %}
