{% extends 'manage_base.html' %}

{% block content %}

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
            <th style="text-align: center"><input type="checkbox" id="select_all" name="select_all" value="全选"></th>
            <th style="text-align: center">任务</th>
            <th style="text-align: center">概述</th>
            <th style="text-align: center">状态</th>
            <th style="text-align: center">属主</th>
            <th style="text-align: center">类型</th>
            <th style="text-align: center">优先级</th>
            <th style="text-align: center">里程碑</th>
            <th style="text-align: center">组件</th>
        </tr>
      </thead>


          <tbody>

                <tr class="danger">
                    <td style="text-align: center"><input type="checkbox" value="{{ task.id }}" name="id"></td>
                    <td style="text-align: center"><a href="/{{ url }}/query/{{ task.id }}" style="list-style-type: none;color: red">#{{ task.id }}</a></td>
                    <td class="summary" style="text-align: center">{{ task.summary }}</td>
                    <td style="text-align: center">{{ task.status }}</td>
                    <td style="text-align: center">{{ task.owner }}</td>
                    <td style="text-align: center">{{ task.type }}</td>
                    <td style="text-align: center">{{ task.priority }}</td>
                    <td class="miliestone" style="text-align: center">{{ task.milestone }}</td>
                    <td style="text-align: center">{{ task.component }}</td>
                </tr>



          </tbody>


    </table>
{% endblock %}