{% extends 'global_manage/manage_base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <!-- Editatable  Css-->
    <link rel="stylesheet" href="{% static 'assets/plugins/magnific-popup/dist/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/plugins/jquery-datatables-editable/datatables.css' %}" />
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h4 class="header-title m-t-0 m-b-30">组</h4>

                    <a href="/global_manage/add_group/">
                        <div class="row" style="margin-bottom: 2%">
                            <div class="col-md-12">
                                <div class="text-left">
                                    <button  class="batn btn-purple btn-rounded w-md">
                                        添加组
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>

                    <table class="table table-striped" id="datatable-editable">
                        <thead>
                            <tr>
                                <th style="text-align: center">ID</th>
                                <th style="text-align: center">组名称</th>
                                <th style="text-align: center">组拥有权限</th>
                                <th style="text-align: center">组成员</th>
                            </tr>
                        </thead>

                        <tbody style="text-align: center">
                            {% for group in groups %}
                                <tr>
                                    <td style="text-align: center"><a href="/global_manage/group/{{ group.id }}" style="list-style-type: none;color: red">#{{ group.id }}</a></td>
                                    <td style="text-align: center"><small>{{ group.name }}</small></td>
                                    <td style="text-align: center">
                                        <small>
                                            <select>
                                                {% for group_permission in group.group_permission.all %}
                                                    <option>
                                                        {{ group_permission }}
                                                    </option>
                                                {% endfor %}</select>
                                        </small>
                                    </td>
                                    <td style="text-align: center">
                                        <small>
                                            <select>
                                                {% for group_user in group.user_set.all %}
                                                    <option>
                                                        {{ group_user }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </small>
                                        <a href="/global_manage/add_group_user/{{ group.id }}/" style="padding-left: 5%">
                                            <i class="fa fa-user-plus"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block jQuery %}
    {{ block.super }}

    <!-- Editable js -->
    <script src="{% static 'assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatables-editable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'assets/plugins/tiny-editable/mindmup-editabletable.js' %}"></script>
    <script src="{% static 'assets/plugins/tiny-editable/numeric-input-example.js' %}"></script>

    <!-- init -->
    <script src="{% static 'assets/pages/datatables.editable.init.js' %}"></script>

{% endblock %}
