{% extends 'manage/manage_base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <!-- Editatable  Css-->
    <link rel="stylesheet" href="{% static 'assets/plugins/magnific-popup/dist/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/plugins/jquery-datatables-editable/datatables.css' %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <h4 class="header-title m-t-0 m-b-30">站点管理权限</h4>


                    <table class="table table-striped" id="datatable-editable">
                        <thead>
                            <tr>
                                <th style="text-align: center">ID</th>
                                <th style="text-align: center">用户名</th>
                                <th style="text-align: center">最后登录时间</th>
                                <th style="text-align: center">是否超级用户</th>
                                <th style="text-align: center">是否职员</th>
                                <th style="text-align: center">是否激活</th>
                                <th style="text-align: center">姓名</th>
                                <th style="text-align: center">邮箱地址</th>
                                <th style="text-align: center">注册时间</th>
                                <th style="text-align: center">性别</th>
                                <th style="text-align: center">职位</th>
                                <th style="text-align: center">家庭住址</th>
                                <th style="text-align: center">电话号码</th>
                                <th style="text-align: center">权限</th>
                                <th style="text-align: center">组</th>
                            </tr>
                        </thead>

                        <tbody style="text-align: center">
                            {% for user in users %}
                                <tr>
                                    <td style="text-align: center"><a href="/{{ url }}/manage/user/{{ user.id }}/" style="list-style-type: none;color: red">#{{ user.id }}</a></td>
                                    <td style="text-align: center"><small>{{ user.username }}</small></td>
                                    <td style="text-align: center"><small>{{ user.last_login }}</small></td>
                                    <td style="text-align: center"><small>{{ user.is_superuser }}</small></td>
                                    <td style="text-align: center"><small>{{ user.is_staff }}</small></td>
                                    <td style="text-align: center"><small>{{ user.is_active }}</small></td>
                                    <td style="text-align: center"><small>{{ user.name }}</small></td>
                                    <td style="text-align: center"><small>{{ user.email }}</small></td>
                                    <td style="text-align: center"><small>{{ user.date_joined }}</small></td>
                                    <td style="text-align: center"><small>{{ user.gender }}</small></td>
                                    <td style="text-align: center"><small>{{ user.position }}</small></td>
                                    <td style="text-align: center"><small>{{ user.address }}</small></td>
                                    <td style="text-align: center"><small>{{ user.phone }}</small></td>
                                    <td style="text-align: center"><small><select>{% for permission in user.user_permission%}<option>{{ permission }}</option>{% endfor %}</select></small></td>
                                    <td style="text-align: center"><small><select>{% for group in user.group %}<option>{{ group }}</option>{% endfor %}</select></small></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block jQuery %}
    {{ block.super }}

    <!-- Editable js -->
    <script src="{% static 'assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-datatables-editable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'assets/plugins/tiny-editable/mindmup-editabletable.js' %}"></script>
    <script src="{% static 'assets/plugins/tiny-editable/numeric-input-example.js' %}"></script>

    <!-- init -->
    <script src="{% static 'assets/pages/datatables.editable.init.js' %}"></script>

{% endblock %}
